@page "/"
@inject NationalParks.INationalParkClient nationalParkClient
@inject Parks.Repository.IParkRepositoryService _parkRepositoryService;

<PageTitle>Index</PageTitle>

<h1>National Parks</h1>

<div>
    @if (_nationalParksTest != null)
        {
            <h3>Total @_nationalParksTest.Count()</h3>
            <div class="row g-3">
                @foreach (var park in _nationalParksTest)
                    {
                    <div class="col">
                        <NationalParkCard Name="@park.FullName"
                                          Link="@park.Url"
                                          Image="@(park.Images.Length > 0 ? park.Images[0].Url : "")">
                        </NationalParkCard>
                    </div>
                    }
                </div>
        }
                else {
                <Spinner></Spinner>
                }
            </div>


@code {
    private IEnumerable<object> _nationalParks;
    private IEnumerable<Parks.Contract.Models.NationalPark> _nationalParksTest;

    public async Task GetNationalParksAsync()
    {
        _nationalParksTest =  await _parkRepositoryService.GetNationalParksAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetNationalParksAsync();

        await base.OnInitializedAsync();
    }
}